/*!
  Theme: a11y-dark
  Author: @ericwbailey
  Maintainer: @ericwbailey

  Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
*/

pre {
  overflow: auto;
  margin: 0;
  padding: 0;
  /* line-height: 1em; */
  background-color: var(--background);
  box-shadow: 2px 2px 2px 1px var(--shadow);
  border-radius: 5px;
}

pre code {
  background-color: inherit;
  filter: none;
  border-radius: 0px;
  padding: 0.5em 1em;
  white-space: pre;
  display: block;
  overflow-x: auto;
  scrollbar-width: thin;
}

pre code::-webkit-scrollbar {
  height: 10px;
}
pre code::-webkit-scrollbar-track {
  background: #252526;
}

pre code::-webkit-scrollbar-thumb {
  background: #7A7A7B;
}

pre code::-webkit-scrollbar-thumb:hover {
  background: #676768;
}

pre code::-webkit-scrollbar-thumb:active {
  background: #454546;
}

.hljs {
  background: var(--background);
  color: #f8f8f2;
}

/* Comment */

.hljs-comment, .hljs-quote {
  color: #d4d0ab;
}

/* Red */

.hljs-variable, .hljs-template-variable, .hljs-tag, .hljs-name, .hljs-selector-id, .hljs-selector-class, .hljs-regexp, .hljs-deletion {
  color: #ffa07a;
}

/* Orange */

.hljs-number, .hljs-built_in, .hljs-literal, .hljs-type, .hljs-params, .hljs-meta, .hljs-link {
  color: #f5ab35;
}

/* Yellow */

.hljs-attribute {
  color: #ffd700;
}

/* Green */

.hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition {
  color: #abe338;
}

/* Blue */

.hljs-title, .hljs-section {
  color: #00e0e0;
}

/* Purple */

.hljs-keyword, .hljs-selector-tag {
  color: #dcc6e0;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition, .hljs-attribute, .hljs-built_in, .hljs-bullet, .hljs-comment, .hljs-link, .hljs-literal, .hljs-meta, .hljs-number, .hljs-params, .hljs-string, .hljs-symbol, .hljs-type, .hljs-quote {
    color: highlight;
  }
  .hljs-keyword, .hljs-selector-tag {
    font-weight: bold;
  }
}