<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap"
        rel="stylesheet">
    <title>andi's little notes</title>
    <meta name="description" content="You can find my notes and small blog posts here! Topics include, but aren't limited to: Programming, Hardware, Embedded Development">
    <link rel="preload" href="/static/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/static/style.css">
    </noscript>
    <link rel="shortcut icon" href="/static/favicon.png">

    <style>
        {{ embed "embed/base.css" }}
    </style>
</head>

<body>
    <input type="checkbox" id="checkbox-compact">
    <input type="checkbox" id="checkbox-settings">
    <script>
        let isCompact = localStorage.getItem('isCompact');
        if (isCompact === 'true') {
            document.getElementById('checkbox-compact').checked = true;
        } else {
            document.getElementById('checkbox-compact').checked = false;
        }
    </script>

    <header class="card">
        <a href="/">notes</a>
        <p>about embedded development, hardware and more</p>

        <label for="checkbox-settings" id="label-checkbox-settings">Settings</label>
    </header>
    <main>
        {{> content}}
    </main>
    <footer class="card">
        &#169; Andreas Kohler 2021
    </footer>

    <section id="settings">
        <form class="card" onsubmit="return false;">
            <h1>Settings</h1>
            <p>
                <label for="checkbox-compact" id="compact-label" title="Hides the first paragraph of the displayed notes.">Compact Mode: </label>
            </p>
            <input type="button" onclick="settings_submit();" value="Save"> <input type="button" onclick="settings_abort();" value="Abort">
        </form>
    </section>

    <noscript>
        <style>
            #label-checkbox-settings {
                display: none;
            }
        </style>
    </noscript>
</body>

<script>
document.addEventListener('visibilitychange', settings_update);

function settings_update() {
    let isCompact = localStorage.getItem('isCompact');
    if (isCompact === 'true') {
        document.getElementById('checkbox-compact').checked = true;
    } else {
        document.getElementById('checkbox-compact').checked = false;
    }
}

function settings_close() {
    document.getElementById('checkbox-settings').checked = false;
}

function settings_abort() {
    settings_update();
    
    settings_close();
}

function settings_submit() {
    localStorage.setItem('isCompact', document.getElementById('checkbox-compact').checked);
    settings_close();
}

function test() {
    alert("test");
}
</script>

</html>